html{
    background-color: #efefef;
    font-family: Arial, Helvetica, sans-serif;
}

/*
@media screen and (min-width: 600px) {
    body {
      background-color: lightgreen;
    }
  }

@media screen and (min-width: 768px) {
    body {
      background-color: lightyellow;
    }
  }
*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#Título{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#video video{
    width: 100%;
    height: auto;
}
#p1{
    display: flex;
    margin: 30px;
}
#Izq{
    flex: 1;
    float: left;
    width: 33%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #d82020;
}
#Dcha{
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #c9da12;
}
.bloque{
    float: left;
    background-color: #8b20d8;
    color: #ffffff;
    text-align: center;
    width: 30%;
    margin: 10px;
    padding: 5px;
    box-sizing: border-box;
}
#Dcha:nth-child(1){
    background-image: url("/media/images/h1.jpg");
}

.Redes{
    list-style-position: inside;
    float: left;
    text-align: center;
    width: 33%;
    padding: 5px;
    box-sizing: border-box;
    color: #ffffff;
    margin-top: 10px;
} 
.Políticas{
    float: right;
    text-align: center;
    width: 33%;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 20px;
}
footer {
    font-size: 12px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #020202;
    opacity: 0.9;
    color: white;
    text-align: left;
}
footer p{
    margin: 3px;
}
