html{
    background-color: #efefef;
    font-family: Arial, Helvetica, sans-serif;
}

/* rojo: #E13726
    azul claro: #404395
    gris: #aba5d0
    azul marino: 
    amarillo:

    Letra normal: Rubik
    Letra titulos:

*/
/* @media screen and (max-width: 600px) {
    html {
      background-color: lightgreen;
      width:50%;
      height:50%;
    }
  } */
/*
@media screen and (min-width: 768px) {
    body {
      background-color: lightyellow;
    }
  }
*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#Título{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#logo{
    position: absolute;
    width:23%;
}
#video video{
    width: 100%;
    height: auto;
}

#p1{
    display: flex;
    margin: 0px;
    height: 100dvh;
}
#Izq{
    flex: 1;
    /* width: 33.3%;
    height: 100%; */
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    border: 7px solid #1e49d5;
    border-radius: 20px;
}
#Dcha{
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #c9da12;
}
.bloque{
    float: left;
    /* background-color: #8b20d8; */
    color: #ffffff;
    text-align: center;
    width: 33%;
    height: 49.5%;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bloque:nth-child(1){
    background-image: url("media/images/descargar.png");
}
.bloque:nth-child(2){
    background-image: url("media/images/logo.jpg");
}
.bloque:nth-child(3){
    background-image: url("media/images/descargar.png");
}
.bloque:nth-child(4){
    background-image: url("media/images/logo.jpg");
}
.bloque:nth-child(5){
    background-image: url("media/images/descargar.png");
}
.bloque:nth-child(6){
    background-image: url("media/images/logo.jpg");
}

.Redes{
    list-style-position: inside;
    float: left;
    text-align: left;
    width: 33%;
    padding: 5px;
    box-sizing: border-box;
    color: #ffffff;
    margin-top: 10px;
    margin-left: 15px;
} 
.Políticas{
    float: right;
    text-align: right;
    width: 33%;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-right: 15px;
}
footer {
    font-size: 12px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #020202;
    opacity: 0.7;
    color: white;
    text-align: left;
}
footer p{
    margin: 3px;
}
.politicas :hover{
    color: #d82020;
}

