
/* rojo: #E13726
    azul claro: #404395
    gris: #aba5d0
    azul marino: #1e49d5
    amarillo:

    Letra normal: Rubik
    Letra titulos:

*/


html{
    background-color: #1e49d5;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #efefef;
    font-family: 'Nunito Sans';
}
#logo{
    position: absolute;
}
#logo img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-left: 20px;
    margin-top: 20px;
}
#video{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#video video{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#p1{
    background-color: #1e49d5;
    display: flex;
    margin: 0px;
}
#P_Izq{
    display: flex;
    flex-grow: 1;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    border: 7px solid #1e49d5;
    border-radius: 20px;
}
#P_Dcha{
    min-height: 400px;
    flex-grow: 1.5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: red;
}
.bloque{
    float: left;
    /* background-color: #8b20d8; */
    color: #ffffff;
    text-align: center;
    width: 33%;
    height: 49.5%;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bloque:nth-child(odd){
    background-image: url("media/images/descargar.png");
}
.bloque:nth-child(even){
    background-image: url("media/images/logo.jpg");
}

.link{
    text-decoration: none;
    color: #ffffff;
    font-size: 2vw;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000000;
    text-align: center;
    border: solid #1e49d5 5px;
    background-color: #efefef;
    border-radius: 10px;
    font-family: 'Jockey One'
}
.divisor{
    background-color: #1e49d5;
    height: 10px;
}
.T{
    font-size: 10dvw;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #d82020;
    text-shadow: 3px 5px 5px#1e49d5;
    font-family: 'Jockey One'
}
#p2{
    display: flex;
    margin: 0px;
}
.Izq1{
    flex-grow: 3;
    display: flex;
    font-size: 2vw;
    text-align: center;
    align-items: center;
}
.Dcha1{
    flex-grow: 1.5;
}
.slider{
    width:95%;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 300%;
    animation: cambio 15s infinite alternate linear;
    animation-timing-function: ease-in-out;
}
.slider li{
    width: 100%;
    list-style: none;
}

.slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    40% {margin-left: -100%;}
    60% {margin-left: -100%;}
    80% {margin-left: -200%;}
    100% {margin-left: -200%;}

}
.galeria{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
    padding: 0 0;
}
#p3{
    display: flex;
}
.Dcha2{
    flex-grow: 1;
    font-size: 2vw;
}
.Izq2{
    flex-grow: 3;
}
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box:nth-child(1){
    grid-column-start: span 2;
}

.box:nth-child(4){
    grid-column-start: span 2;
}

#p4{
    display: flex;
}
.Izq3{
    flex-grow: 1.5;
    margin-top: 50px;
    font-size: 2vw;
}
.Dcha3{
    flex-grow: 1;
}
.historia{
    margin-top: 0;
    font-size: 2vw;
}

.img_historia{
    display: grid;
}
.img_historia img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fin{
    height: 10dvh;
    background-color: #1e49d5;
}
.Redes{
    list-style-position: inside;
    float: left;
    text-align: left;
    width: 33%;
    padding: 5px;
    box-sizing: border-box;
    color: #ffffff;
    margin-top: 10px;
    margin-left: 15px;
} 
.Políticas{
    float: right;
    text-align: right;
    width: 33%;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-right: 15px;
}
footer {
    font-size: 12px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #020202;
    opacity: 0.7;
    color: white;
    text-align: left;
}
footer p{
    margin: 3px;
}
.politicas :hover{
    color: #d82020;
}

@media screen and (max-width:600px){
    
    .galeria{
        padding: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    .box:nth-child(1)
    {
        grid-column-start: span 1;
    }
    .box:nth-child(4)
    {
        grid-column-start: span 1;
    } 
    .box:nth-child(7)
    {
        grid-column-start: span 2;
    }
    .Dcha2{
        font-size: 4vw;
    }
    .T{
        font-size: 10vw;
    }
    #p1{
        flex-wrap: wrap;
    }
    #p2{
        flex-wrap: wrap;
    }
    .Izq1{
        font-size: 4vw;
        order: 2;
    }
    
    .bloque a{
        font-size: 3vw;
    }
    #p3{
        flex-wrap: wrap;
    }
    #p4{
        flex-wrap: wrap;
    }
    .Izq3{
        order: 2;
    }
    .Dcha3{
        order: 1;
    }
    .historia{
        font-size: 4vw;
    }	
}
