html {
    text-align: center;
    color: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#Título{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

p.texto{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

div p {
    color: aquamarine;
    background-color: burlywood;
    width: 100px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}
h1 {
    color: #2d5092;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;

    border-color: #2d5092;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
}